html {
    overflow: hidden;
}

body {
    background: rgb(16, 160, 189);
    background: linear-gradient(90deg, rgba(16, 160, 189, 1) 0%, rgba(28, 28, 255, 1) 44%, rgba(0, 212, 255, 1) 100%);
    overflow-x: hidden;
}

header {
    width: 101%;
    height: 5vh;
    padding: 20px;
    /* margin-bottom: 1.5rem; */
    box-shadow: 0 0 25px 0 black;
    background-color: white;
    position: fixed;
    margin-left: -1%;
    margin-top: -1%;
}

.paper-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

textarea {
    width: 620px;
    height: 740px;
    border: none;
    resize: none;
    box-shadow: 0 0 25px 0 black;
    padding: 25px;
    outline: none;
    margin-bottom: 15px;
    /* overflow-x: hidden; */
    font-family: inherit;
    font-size: inherit;
    /* text-size-adjust: none; */
    max-width: 620px;
    max-height: 740px;
}

textarea:active {
    border: none;
    outline: none;
}


@page {
    size: A4;
}


@page :left {
    margin-left: 2.54cm;
}

@page :right {
    margin-left: 2.54cm;
}


@media print {
    body {
        visibility: hidden;
    }

    html,
    body {
        height: 100%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .printable {
        visibility: visible;
        position: absolute;
        /* display: block; */
        left: 0;
        top: 0;
        box-shadow: none;
        /* height: 100%;
        max-height: 100%; */
        /* overflow-y: visible; */
        page-break-after: always;
    }
}